<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> <!---add icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /><!--delete icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /><!--edit icon-->
    <link rel="stylesheet" href="../css/venda.css">   
    <title>Venda | Cadastre suas vendas.</title>
</head>
    <body>
        <header class="header-icon-infos">
            <h1>LOGO AQUI</h1>
            <h5>Nessa área, cadastre suas vendas, ou acompanhe seus indicadores.</h5>
        </header>
        <main id="main" class="disabled">
            <section class="main-container"> 
                <section class="displayArea">
                        <section class="areaCadastroCliente">
                                <form id="formEntrada">
                                    <h2>Cadastre as informações do cliente: </h2>
                                    <br>
                                    <input type="text" id="idCliente" placeholder="ID do Cliente" readonly>
                                    <input type="text" id="nomeCliente" placeholder="Cliente" autocomplete="off" required>
                                    <input type="text" id="telefoneCliente" placeholder="Telefone Cliente" autocomplete="off" required>
                                    <input type="text" id="isFiado" placeholder="Fiado" autocomplete="off" required>
                                </form>
                        </section>
                        <section class="itensVenda">
                                    <div class="cadastrarProduto">
                                        <h2>Cadastre os produtos:</h2>  
                                        <br>
                                        <input class="searchBar" type="text" name="searchBar" id="searchBar" placeholder="Digite aqui o produto que deseja cadastrar...">
                                        <button type="button" id="salvarProduto">Salvar produto</button>
                                    </div>
                                    <ul id="mostrarItens">
                                       <!-- <li class="produtoCompra">
                                            <h3>Ablublebleblebleaaaaaaaaaaaaaaaaaa</h3>
                                            <p>Blablabla</p>
                                            <div class="btn-actions-Produto">
                                                <input id="quantidadeComprada" type="number" placeholder="Digite a quantidade">
                                                <button id="salvarQtd">Salvar quantidade</button>
                                                <button id="editarProduto">Editar produto</button>
                                                <button id="apagarProduto">Apagar produto</button>
                                            </div>
                                        </li> -->
                                    </ul>
                                    <div class="subtotalCompra">
                                        <h2>Total da venda: </h2>
                                        <p>12,00</p>
                                    </div>
                                    <section class="finalizaVenda">
                                        <div class="btns-actions-save">
                                            <button  id="salvarVenda">Salvar Venda</button>
                                        </div>
                                    </section>  
                    </section>       
            </section>

                <button  id="verVendas">Ver vendas</button>
                <button  id="alterarVenda">Alterar venda</button>
                        
        
        
            <section>
                <table id="tabelaVenda">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome do cliente</th>
                            <th scope="col">Preço total</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Fiado</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Deletar</th>
                        </tr>
                    </thead>
                    
                    <tbody id="tbody">  
                    </tbody>
                </table>
            </section>

        </main>
        
        
        <div>
            <button id="comecaCadastro">Começar cadastro</button>
            <button id="gerarRelatorio">Gerar relatório</button>
        </div>
        <!--Dexie API-->
        <script src="https://unpkg.com/dexie/dist/dexie.js" type="module"></script>
        <!--Js da pagina--> 
        <script src="../scripts/front/venda.js" type="module"></script>
    </body>
    </html>